<main>
  <% merge_meta_tags(
    title: "Blog",
    description: "The digital forge is a place where I share my thoughts and ideas on software development, technology, and other topics that interest me. I hope you find something useful here."
  )%>
  <div class="flex w-full md:w-3/4 mx-auto flex-col items-center md:flex-row md:justify-between">
    <%= image_tag "lion-logo.png", class: "w-40 h-40 aspect-square" %>
    <div>
      <h1 class="text-4xl text-brand-blue-700 dark:text-brand-blue-50 font-light text-center m-0">The Digital Forge</h1>
      <p class="ml-4 text-center"> The digital forge is a place where I share my thoughts and ideas on software development, technology, and other topics that interest me. I hope you find something useful here. </p>
    </div>
  </div>
  <section class="my-4 flex justify-center w-full">
    <div class="w-full md:w-3/4">
      <%= render 'shared/post_search' %>
      <section class="flex gap-2 items-end w-full justify-between text-brand-blue-700 my-0">
        <div class="w-full">
          <label for="q[collection_id_eq]" class="text-xs">
            <p>Collections</p>
          </label>
          <%= select_tag "q[collection_id_eq]", options_for_select(@collection_options, selected: @selected_collection ), data: {controller: "nav-select"}, include_blank: true, class: 'block w-full py-2 pl-3 pr-10 text-base border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue-500 focus:border-brand-blue-500' %>
        </div>
        <div class="w-full">
          <label for="q[tags_id_in]" class="text-xs">
            <p>Tags</p>
          </label>
          <%= select_tag "q[tags_id_in]", options_for_select(@tag_options, selected: @selected_tag ), data: {controller: "nav-select"}, include_blank: true, class: 'block w-full py-2 pl-3 pr-10 text-base border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-brand-blue-500 focus:border-brand-blue-500' %>
        </div>
        <%= link_to "Reset", digital_forge_path, class: 'h-fit px-4 py-2 bg-brand-blue-700 text-white no-underline font-bold rounded-lg' %>
      </section>
    </div>
  </section>
  <section id="posts" class="grid grid-cols-1 gap-2 sm:gap-4">
    <% @posts.each do |post| %>
      <%= link_to post, class: "no-underline" do %>
        <div class="my-4 w-full sm:h-[150px] sm:flex bg-gradient-to-br from-brand-blue-50 to-brand-blue-200 dark:from-brand-blue-700 dark:to-brand-blue-950 border-[1px] border-brand-blue-300 dark:border-brand-blue-400 rounded-lg text-brand-blue-950 dark:text-brand-blue-100 hover:border-2 hover:border-brand-blue-500">
          <div>
            <%= image_tag post.featured_image.small_og.url || asset_path('lion-logo.png'), class: 'w-full aspect-video rounded-tl-lg rounded-tr-lg object-fit sm:rounded-none sm:rounded-tl-lg sm:rounded-bl-lg sm:h-full' %>
          </div>
          <div class="px-2 sm:px-4 w-full flex flex-col justify-between">
            <div>
              <h2 class="text-xl font-normal break-words mt-2 mb-0 line-clamp-2"><%= post.title %></h2>
              <p class="line-clamp-2 text-sm text-ellipsis"><%= post.description %></p>
            </div>
            <div>
              <div class="flex items-center">
                <p class="text-xs text-left mr-2"><%= post.published_on.strftime("%b %d, %Y") %></p>
                <% if post.collection %>
                  <p class="text-xs">Series: <%= post.collection&.name %> </p>
                <% end %>
              </div>
              <% if post.tags.any? %>
                <div class="text-xs text-left flex w-full mb-2">
                  <% post.tags.map do |tag| %>
                    <%= "##{tag.name}" %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
  <section class="w-full">
    <%= paginate @posts %>
  </section>
  <% if @posts.empty? %>
    <div class="flex justify-center items-center h-96">
      <p class="text-2xl text-brand-blue-700 dark:text-brand-blue-50">No Posts Yet... Stay tuned.</p>
    </div>
  <% end %>
</main>
