<main>
  <section class="flex flex-col justify-center items-center">
    <div class="w-full flex flex-col justify-center items-center sm:flex-row sm:justify-around md:mt-8">
      <div>
        <h1
          class="flex flex-col text-5xl sm:text-7xl text-brand-blue-700 dark:text-brand-blue-100 font-light text-center">
          <span>Matthew</span>
          <span>Thompson</span>
        </h1>
        <h2 class="my-4 font-medium italic text-center dark:text-brand-blue-300 text-brand-blue-500">Architect &bull;
          Engineer &bull; Builder</h2>
      </div>
      <%= image_tag 'avatars/MattThompson_3.png',
                    class: 'w-full md:w-1/3 shadow-xl rounded-xl border-2 border-brand-blue-50',
                    alt: 'Matthew Thompson Profile' %>
    </div>
  </section>
  <section class="my-10 px-4 md:px-8">
    <h2 class="text-2xl font-bold text-brand-blue-700 dark:text-brand-blue-50"> About Me </h2>
    <p class="my-4 font-bold text-brand-blue-400 dark:text-brand-blue-50/70">Software Architect by Day | Unplugged Engineer by Night</p>
    <p class="my-4">I'm a builder and creator at heart.</p>
    <p class="my-4">For over a decade, I've been immersed in the software consulting world, working across industries such as IP Advertising, Healthcare, Telecom, and E-Commerce. I've helped companies understand and solve complex problems while leading teams to drive progress. My primary focus is on solving the right problems and fostering team growth. No one should tackle this kind of work alone. I aim to share my understanding and pitfalls in hopes of building momentum.</p>
    <p class="my-4">During the day, I find myself meeting with stakeholders, project leads, and engineering teams, aiming to define and resolve the problems at hand. My goal is to offer multiple solutions, focusing on what makes sense for both today and the future. I scout ahead, carving a path of options for others to follow.</p>
    <p class="my-4">Beyond software, my passion extends into the physical world of fine woodworking, metalworking, and tool restoration. This pursuit is more than a hobby—it's a commitment to preserving and advancing craftsmanship. By collecting books, articles, and resources, I strive to safeguard the knowledge and history of these trades. I aspire to absorb all I can and share this rich legacy with the next generation. And who knows? Maybe one day, I'll bridge the gap between traditional craftsmanship and modern technology in a unique pet project. (AI and Robotics, anyone?)</p>
    <p class="my-4">Come along with me on this journey of learning, building, and creating in all sorts of ways.</p>
  </section>
  <div class="flex justify-center w-full mt-10">
    <div class="w-1/2 border-b-2 border-b-brand-blue-300 dark:border-b-brand-blue-50"></div>
  </div>
  <section class="my-10 px-4 md:px-8">
    <h2 class="text-2xl font-bold text-brand-blue-700 dark:text-brand-blue-50"> Join Me On My Journey </h2>
    <div class="grid grid-cols-1 md:grid-cols-2">
      <div class="my-4 md:mx-4 flex flex-col justify-between">
        <%= image_tag 'split-key-bw.png', class: 'aspect-square w-full rounded-lg', alt: 'Split Keyboard' %>
        <h3 class="text-xl italic text-center mt-4">The Engineer</h3>
        <p class="flex-grow my-4 text-md">With over a decade of experience, join me as I navigate the highs and lows of software engineering. From getting "Up and Running" to delving into Leadership and Management, this space is for anyone intrigued by the world of tech.</p>
        <%= link_to 'The Digital Forge', digital_forge_path, class: button_styles(css: 'px-6 py-3 text-lg text-center') %>
      </div>
      <div class="my-4 md:mx-4 flex flex-col justify-between">
        <%= image_tag 'handplane-bw.png', class: 'aspect-square w-full rounded-lg', alt: 'Hand Tools' %>
        <h3 class="text-xl italic text-center mt-4">The Craftsman</h3>
        <p class="flex-grow my-4 text-md">If you're drawn to the art of fine woodworking, design, and random shop projects, this is your spot. Join me as I share insights from my own journey, along with a growing collection of resources that inspire and guide my craft. Follow my hands-on adventure in creation and craftsmanship.</p>
        <%= link_to 'The Hand Tool Armory', hand_tool_armory_path, class: button_styles(css: 'px-6 py-3 text-lg text-center') %>
      </div>
    </div>
  </section>
</main>
