<h1> CONNECT WITH ME </h1>
<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">

  <a href="https://twitter.com/mthomps4" class="focus:outline-none underline-none" target="_blank">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white dark:bg-brand-blue-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="flex-shrink-0">
      <%= image_tag("X-logo-black.png", alt: "TwitterX Logo", class: "h-10 w-10 rounded-full") %>
    </div>
    <div class="min-w-0 flex-1">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">@mthomps4</p>
        <p class="truncate text-sm text-gray-500">Tech Twitter Feed</p>
    </div>
  </div>
  </a>

  <a href="https://github.com/mthomps4" class="focus:outline-none underline-none" target="_blank">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white  dark:bg-brand-blue-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="flex-shrink-0">
      <%= image_tag("X-logo-black.png", alt: "GitHub Logo", class: "h-10 w-10 rounded-full") %>
    </div>
    <div class="min-w-0 flex-1">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">@mthomps4</p>
        <p class="truncate text-sm text-gray-500">Personal Playground -- Real work behind Client NDA wall.</p>
    </div>
  </div>
  </a>

  <a href="https://LinkedIn.com/in/mthomps4" class="focus:outline-none underline-none" target="_blank">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white  dark:bg-brand-blue-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="flex-shrink-0">
      <%= image_tag("X-logo-black.png", alt: "LinkedIn Logo", class: "h-10 w-10 rounded-full") %>
    </div>
    <div class="min-w-0 flex-1">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">@mthomps4</p>
        <p class="truncate text-sm text-gray-500">If you care about the past lives...</p>
    </div>
  </div>
  </a>

  <a href="https://Instagram.com/_mthomps4" class="focus:outline-none underline-none" target="_blank">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white  dark:bg-brand-blue-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="flex-shrink-0">
      <%= image_tag("X-logo-black.png", alt: "LinkedIn Logo", class: "h-10 w-10 rounded-full") %>
    </div>
    <div class="min-w-0 flex-1">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">@_mthomps4</p>
        <p class="truncate text-sm text-gray-500">Woodworking Fun</p>
    </div>
  </div>
  </a>
  
  <a href="mailto:matt@3wirebuild.com" class="focus:outline-none underline-none" target="_blank">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white  dark:bg-brand-blue-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="flex-shrink-0">
      <%= image_tag("X-logo-black.png", alt: "LinkedIn Logo", class: "h-10 w-10 rounded-full") %>
    </div>
    <div class="min-w-0 flex-1">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">matt@3wirebuild.com</p>
        <p class="truncate text-sm text-gray-500">Try LinkedIn / Twitter first :)</p>
    </div>
  </div>
  </a>

  
  <a href="#" class="focus:outline-none underline-none" target="_blank">
  <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white  dark:bg-brand-blue-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400">
    <div class="flex-shrink-0">
      <%= image_tag("X-logo-black.png", alt: "Document Logo", class: "h-10 w-10 rounded-full") %>
    </div>
    <div class="min-w-0 flex-1">
        <span class="absolute inset-0" aria-hidden="true"></span>
        <p class="text-sm font-medium text-gray-900">Resume Download</p>
        <p class="truncate text-sm text-gray-500">Last Updated: ...</p>
    </div>
  </div>
  </a>

</div>
