<main>
  <% set_meta_tags title: "Connect", description: "Stay in touch! I'm always looking to meet more people, to connect, and learn more. Use one of the links below and reach out!" %>
  <% links = [
    { title: "GitHub", href: "https://github.com/mthomps4", img: "split-key.jpg", alt: "split-keyboard", logo: "social/github-mark.png", logo_alt: "GitHub Logo", username: "@mthomps4", description: "Personal Playground. <br /> Real work behind Client NDA walls." },
    { title: "Twit... X", href: "https://twitter.com/mthomps4",img: "https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExN3ozZTF5MDU1dThuYmttYW9leHBvMDh2b2d5cHNkZHIydmpicmVxOSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/tFK8urY6XHj2w/giphy.gif", alt: "split-keyboard", logo: "social/X-logo-black.png", logo_alt: "TwitterX Logo", username: "@mthomps4", description: "Watching Tech Twitter" },
    { title: "LinkedIn", href: "https://linkedin.com/in/mthomps4",img: "avatars/portrait.png", alt: "split-keyboard", logo: "social/linkedin-black-square.png", logo_alt: "LinkedIn Logo", username: "@mthomps4", description: "Folks say you need one..." },
    { title: "Instagram", href: "https://instagram.com/_mthomps4",img: "avatars/shop.jpg", alt: "workshop", logo: "social/Instagram_Glyph_Black.png", logo_alt: "Instagram Logo", username: "@_mthomps4", description: "Traditional Woodworking and Shop Fun" }
  ]%>
  <h1> Connect </h1>
  <p class="w-full md:w-2/3 text-center mx-auto"> Stay in touch! I'm always looking to meet more people, to connect, and learn more. Use one of the links below and reach out! </p>
  <div class="flex flex-col w-full justify-center items-center mb-10">
    <% links.each do |link| %>
      <%= link_to link[:href], class: "w-full flex flex-row justify-center items-center group no-underline", target: "_blank" do %>
        <div class="h-32 w-32">
          <%= image_tag(link[:img], alt: link[:alt], class: "rounded-tl-md rounded-bl-md object-fit h-32 w-32 border-2 border-brand-blue-400 dark:border-brand-blue-200") %>
        </div>
        <div class="w-full md:w-1/2 h-32 my-4 pl-4 flex items-center rounded-tr-md rounded-br-md border-2 border-brand-blue-400 dark:border-brand-blue-200 no-underline underline-none focus:underline-none bg-gradient-to-br from-brand-blue-50 to-brand-blue-300 group-hover:bg-none group-hover:bg-brand-blue-100 dark:from-brand-blue-500 dark:to-brand-blue-800 dark:group-hover:bg-brand-blue-700">
          <%= image_tag(link[:logo], alt: link[:logo_alt], class: 'h-10 w-10 mr-4') %>
          <div class="w-full">
            <p class="font-bold tracking-wide"><%= link[:title] %></p>
            <p><%= link[:username]%></p>
            <p class="text-sm italic"><%= link[:description].html_safe %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <%#  TODO: Redo this section when needed %>
    <% if @resume.present? %>
      <%= link_to @resume.file.url, target: '_blank', rel: 'noopener noreferrer' do %>
        <div class="relative flex items-center space-x-3 rounded-lg border border-gray-300 bg-white dark:bg-brand-blue-200 px-6 py-5 shadow-sm focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 hover:border-gray-400 dark:hover:bg-brand-blue-300">
          <div class="flex-shrink-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-10 h-10">
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 14.25v-2.625a3.375 3.375 0 00-3.375-3.375h-1.5A1.125 1.125 0 0113.5 7.125v-1.5a3.375 3.375 0 00-3.375-3.375H8.25m.75 12l3 3m0 0l3-3m-3 3v-6m-1.5-9H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 00-9-9z" />
            </svg>
          </div>
          <div class="min-w-0 flex-1">
            <span class="absolute inset-0" aria-hidden="true"></span>
            <p class="text-sm font-medium text-gray-900">Resume Download</p>
            <p class="truncate text-sm text-gray-500">Last Updated: <%= @resume.created_at.strftime('%-m/%-d/%y') %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</main>
