<%= form_with(model: learning) do |form| %>
  <% if learning.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(learning.errors.count, "error") %> prohibited this learning from being saved:</h2>
      <ul>
        <% learning.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :markdown, class: label_styles %>
    <%= form.text_area :markdown, class: text_area_styles %>
  </div>
  <div>
    <%= form.label :published, class: label_styles %>
    <%= form.check_box :published %>
  </div>
  <div>
    <%= form.label :published_on, style: "display: block" %>
    <%= form.datetime_field :published_on %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
