<div id="<%= dom_id learning %>">
  <p>
    <strong>Title:</strong>
    <%= learning.title %>
  </p>
  <p>
    <strong>Markdown:</strong>
    <%= @rendered_markdown %>
  </p>
  <p>
    <strong>Published:</strong>
    <%= learning.published %>
  </p>
  <p>
    <strong>Published on:</strong>
    <%= learning.published_on %>
  </p>
</div>
