<% link_class = 'text-sm font-medium text-brand-blue-50 hover:border-brand-blue-200 hover:border-b-2 my-4 active:text-brand-blue-700 active:border-brand-blue-700 no-underline hover:text-brand-blue-50 dark:text-white dark:hover:text-brand-blue-200' %>
<% menu_links = [
     { label: 'About', path: root_path, class: link_class },
     { label: 'Digital Forge', path: digital_forge_path, class: link_class },
     { label: 'Armory', path: hand_tool_armory_path, class: link_class },
     { label: 'Connect', path: info_path, class: link_class }
   ] %>
<nav class="bg-gradient-to-tr from-brand-blue-700 to-brand-blue-950 shadow-xl h-18" data-controller="reveal" data-reveal-hidden-class="hidden">
  <div class="mx-auto max-w-6xl px-4">
    <div class="flex h-16 justify-between items-center">
      <div class="w-full flex justify-between items-center">
        <div class="mr-auto">
          <%= link_to root_path, class: "flex items-center" do %>
            <%= image_tag 'lion-logo.png',
                class: 'aspect-square w-12 mr-2',
                alt: 'Lion Mascot' %>
            <%= image_tag 'brand/MThompson-white.png', class: 'h-12', alt: 'Matt Thompson' %>
          <% end %>
        </div>
        <div class="hidden sm:flex sm:space-x-8 items-center justify-end w-full">
          <% menu_links.each do |link| %>
            <%= link_to link[:label], link[:path], class: link[:class] %>
          <% end %>
        </div>
        <div class="mr-4 sm:ml-4 sm:mr-0 h-12 w-12 flex justify-center items-center" data-controller="dark-mode">
          <%= render('shared/dark_mode_toggle') %>
        </div>
      </div>
      <!-- Mobile menu button -->
      <div class="flex items-center sm:hidden">
        <button data-action="click->reveal#toggle" type="button" class="inline-flex items-center justify-center rounded-md h-12 w-12 p-2 bg-brand-blue-800 active:bg-brand-blue-700 text-brand-blue-200 hover:text-brand-sunflower-200 shadow-[inset_1px_1px_5px_5px] shadow-brand-blue-900 active:shadow-brand-blue-600 border-[1px] border-brand-blue-700" aria-controls="mobile-menu">
          <span class="sr-only hidden">Open main menu</span>
          <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <!-- Mobile menu, show/hide based on menu state. -->
  <div class="sm:hidden" id="mobile-menu">
    <div data-reveal-target="item" class="hidden">
      <div class="flex flex-col items-center justify-center">
        <% menu_links.each do |link| %>
          <%= link_to link[:label], link[:path], class: link[:class] %>
        <% end %>
      </div>
    </div>
  </div>
</nav>
<!-- Any User -->
<% if user_signed_in? %>
  <div class="w-full bg-brand-blue-600 h-10 flex items-center">
    <div class="flex text-xs items-center mx-auto max-w-6xl">
      <%=link_to "Admin", admin_path, class: 'text-white no-underline hover:text-purple-200 dark:text-white dark:no-underline dark:hover:text-purple-200 mx-4' %>
      <%=link_to "Posts", admin_posts_path, class: 'text-white no-underline hover:text-purple-200 dark:text-white dark:no-underline dark:hover:text-purple-200 mx-4' %>
      <%=link_to "Collections", admin_collections_path, class: 'text-white no-underline hover:text-purple-200 dark:text-white dark:no-underline dark:hover:text-purple-200 mx-4' %>
      <%=link_to "Resumes", admin_resumes_path, class: 'text-white no-underline hover:text-purple-200 dark:text-white dark:no-underline dark:hover:text-purple-200 mx-4' %>
      <%=link_to "Sign Out", destroy_user_session_path, method: :delete, data: {turbo_method: :delete}, class: 'text-white no-underline hover:text-purple-200 dark:text-white dark:no-underline dark:hover:text-purple-200 mx-4' %>
    </div>
  </div>
<% end %>
