<div class="flex justify-between items-center text-brand-blue-700 dark:text-brand-blue-100 mt-4">
  <div class="flex items-center">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
      <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
    </svg>
    <%= link_to 'Back to posts', admin_posts_path, class: 'hover:underline' %>
  </div>
  <%= link_to 'Edit This Post', edit_admin_post_path(@post), class: 'hover:underline' %>
</div>
<% if @post.featured_image.present? %>
  <%= image_tag @post.featured_image.og.url, class: 'border-brand-blue-700 border-2 rounded-lg' %>
<% end %>
<%= render @post %>
<div>
  <div>
    <% if @post.collection_id %>
      <p><%= @post.collection.name %></p>
    <% end %>
  </div>
  <div>
    <% if @post.tags.any? %>
      <p>Tags:</p>
      <% @post.tags.map do |tag| %>
        <!-- TODO: future link -->
        <p><%= link_to "##{tag.name}", admin_posts_path(q: {tags_name_cont: tag.name}) %></p>
      <% end %>
    <% end %>
  </div>
</div>
