<label
  for="<%= @id %>"
  class="<%= @label_styles %>">
  <%= @label %>
</label>
<input
    type="<%= @type %>"
    name="<%= @id %>"
    id="<%= @id %>"
    class="<%= @input_styles %>"
    placeholder="<%= @placeholder %>"
  />
