<!DOCTYPE html>
<html class="bg-brand-blue-700 dark:bg-brand-blue-950 font-brand">
  <head>
    <title>Turby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', "data-turbo-track": 'reload' %>
    <%= javascript_include_tag 'application', "data-turbo-track": 'reload', defer: true %>
    <%= render('shared/dark_mode_checker') %>
    <%= hotwire_livereload_tags if Rails.env.development? %>
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="/favicon_io/site.webmanifest">
  </head>
  <body class="bg-brand-blue-100 pb-4 min-h-screen dark:bg-brand-blue-950">
    <%= render 'shared/nav' %>
    <%= render 'shared/notice' %>
    <div class="mx-auto max-w-6xl px-4">
      <%= yield %>
    </div>
  </body>
</html>
