<!DOCTYPE html>
<html class="bg-brand-blue-700 dark:bg-black" data-controller="dark-mode">
  <head>
    <title>Turby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render('shared/dark_mode_checker')%>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="bg-brand-blue-100 pb-4 min-h-screen dark:bg-black" >
    <%= render "shared/nav" %>
    <div class="bg-gradient-to-br from-brand-blue-50 to-brand-blue-100 border-2 border-brand-blue-300 m-4 p-4 rounded-lg">
      <%= yield %>
    </div>
  </body>
</html>
