<!DOCTYPE html>
<html class="bg-brand-blue-700 dark:bg-brand-blue-950">
  <head>
    <title>Turby</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= render('shared/dark_mode_checker')%>
    <%= hotwire_livereload_tags if Rails.env.development? %>
  </head>
  <body class="bg-brand-blue-100 pb-4 min-h-screen dark:bg-brand-blue-950" >
    <%= render "shared/nav" %>
    <div class="mx-auto max-w-6xl px-4">
      <%= yield %>
    </div>
  </body>
</html>
