<!DOCTYPE html>
<html>
  <head>
    <title>Lookbook Preview</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>
  <body class="mt-10 ml-10">
    <%= yield %> <!-- rendered preview will be injected here -->
  </body>
</html>
